In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from IPython.display import display

Loading the datasets

In [2]:
air_reserve = pd.read_csv('air_reserve.csv')
air_store = pd.read_csv('air_store_info.csv')
air_visit = pd.read_csv('air_visit_data.csv')

hpg_reserve = pd.read_csv('hpg_reserve.csv')
hpg_store = pd.read_csv('hpg_store_info.csv')

date_info = pd.read_csv('date_info.csv')
store_ids = pd.read_csv('store_id_relation.csv')

Understanding the datasets

In [3]:
def visual_info(df,size=3):
    print('Shape',df.shape)
    print("types",df.dtypes)
    df.head(size)
    #print(df.columns)

In [4]:
visual_info(air_reserve)

Shape (92378, 4)
types air_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors     int64
dtype: object

In [5]:
visual_info(air_store)

Shape (829, 5)
types air_store_id       object
air_genre_name     object
air_area_name      object
latitude          float64
longitude         float64
dtype: object

In [6]:
visual_info(air_visit)

Shape (252108, 3)
types air_store_id    object
visit_date      object
visitors         int64
dtype: object

In [7]:
visual_info(hpg_reserve)

Shape (2000320, 4)
types hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors     int64
dtype: object

In [8]:
visual_info(hpg_store)

Shape (4690, 5)
types hpg_store_id       object
hpg_genre_name     object
hpg_area_name      object
latitude          float64
longitude         float64
dtype: object

In [9]:
visual_info(date_info)

Shape (517, 3)
types calendar_date    object
day_of_week      object
holiday_flg       int64
dtype: object

In [10]:
visual_info(store_ids)

Shape (150, 2)
types air_store_id    object
hpg_store_id    object
dtype: object

Merging the datasets

In [11]:
air_store.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [12]:
#Adding visit_date column for air_reserve
air_reserve['visit_datetime']=pd.to_datetime(air_reserve['visit_datetime'])
air_reserve['visit_date']=air_reserve['visit_datetime'].apply(lambda x:x.strftime('%Y-%m-%d'))


#rename columns to match during merge
air_reserve.rename(columns={'reserve_visitors':'visitors'},inplace=True)

In [13]:
#merging air_reserve and air_visit
data=pd.merge(air_visit,air_reserve,on=["air_store_id",'visit_date','visitors'],how='outer')

In [14]:
data.shape

(343508, 5)

In [15]:
#merging data and air_store
data=pd.merge(data,air_store,on=['air_store_id'],how='left')

In [16]:
data.shape

(343508, 9)

In [17]:
data.columns

Index(['air_store_id', 'visit_date', 'visitors', 'visit_datetime',
       'reserve_datetime', 'air_genre_name', 'air_area_name', 'latitude',
       'longitude'],
      dtype='object')

In [18]:
#Adding visit_date column for air_reserve
hpg_reserve['visit_datetime']=pd.to_datetime(hpg_reserve['visit_datetime'])
hpg_reserve['visit_date']=hpg_reserve['visit_datetime'].apply(lambda x:x.strftime('%Y-%m-%d'))

In [19]:
hpg=pd.merge(hpg_reserve,store_ids,on='hpg_store_id',how='left')

In [20]:
hpg.shape

(2000320, 6)

In [21]:
hpg.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,air_store_id
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1,2016-01-01,NaN
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,2016-01-01,NaN
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2,2016-01-01,NaN
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5,2016-01-01,NaN
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13,2016-01-01,NaN

In [22]:
hpg=pd.merge(hpg,hpg_store, on='hpg_store_id',how='left')
hpg.shape

(2000320, 10)

In [23]:
hpg.columns

Index(['hpg_store_id', 'visit_datetime', 'reserve_datetime',
       'reserve_visitors', 'visit_date', 'air_store_id', 'hpg_genre_name',
       'hpg_area_name', 'latitude', 'longitude'],
      dtype='object')

In [24]:
data.columns

Index(['air_store_id', 'visit_date', 'visitors', 'visit_datetime',
       'reserve_datetime', 'air_genre_name', 'air_area_name', 'latitude',
       'longitude'],
      dtype='object')

In [25]:
hpg.rename(columns={'reserve_visitors':'visitors'},inplace=True)
hpg.rename(columns={'hpg_genre_name':'genre_name'},inplace=True)
hpg.rename(columns={'hpg_area_name':'area_name'},inplace=True)
data.rename(columns={'air_genre_name':'genre_name'},inplace=True)
data.rename(columns={'air_area_name':'area_name'},inplace=True)

In [26]:
data=pd.concat([data,hpg],axis=0).reset_index(drop=True)
(data.shape)
data.head()

,air_store_id,visit_date,visitors,visit_datetime,reserve_datetime,genre_name,area_name,latitude,longitude,hpg_store_id
0,air_ba937bf13d40fb24,2016-01-13,25,NaT,NaN,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,NaT,NaN,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,NaT,NaN,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,NaT,NaN,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,NaT,NaN,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [27]:
data.shape

(2343828, 10)

In [28]:
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [29]:
data['visit_dateime']=pd.to_datetime(data['visit_datetime'])

In [30]:
data=pd.merge(data,date_info,left_on='visit_date',right_on='calendar_date')
data.shape

(2343828, 14)

In [31]:
del data['calendar_date']

In [32]:
data.shape

(2343828, 13)

Handling the missing values

In [33]:
data.isnull().sum()

air_store_id        1972137
visit_date                0
visitors                  0
visit_datetime       251130
reserve_datetime     251130
genre_name          1129012
area_name           1129012
latitude            1129012
longitude           1129012
hpg_store_id         343508
visit_dateime        251130
day_of_week               0
holiday_flg               0
dtype: int64

In [34]:
data.columns.tolist()

['air_store_id',
 'visit_date',
 'visitors',
 'visit_datetime',
 'reserve_datetime',
 'genre_name',
 'area_name',
 'latitude',
 'longitude',
 'hpg_store_id',
 'visit_dateime',
 'day_of_week',
 'holiday_flg']

In [35]:
data.dtypes

air_store_id                object
visit_date                  object
visitors                     int64
visit_datetime      datetime64[ns]
reserve_datetime            object
genre_name                  object
area_name                   object
latitude                   float64
longitude                  float64
hpg_store_id                object
visit_dateime       datetime64[ns]
day_of_week                 object
holiday_flg                  int64
dtype: object

In [36]:
data['reserve_datetime']=pd.to_datetime(data['reserve_datetime'])
data['visit_date']=pd.to_datetime(data['visit_date'])

In [37]:
data.dtypes

air_store_id                object
visit_date          datetime64[ns]
visitors                     int64
visit_datetime      datetime64[ns]
reserve_datetime    datetime64[ns]
genre_name                  object
area_name                   object
latitude                   float64
longitude                  float64
hpg_store_id                object
visit_dateime       datetime64[ns]
day_of_week                 object
holiday_flg                  int64
dtype: object

In [38]:
#handling the null values in the object columns by adding the empty spaces
data['genre_name'].fillna(value='',inplace=True)
data['area_name'].fillna(value='',inplace=True)

In [39]:
data.fillna(pd.concat([ data.hpg_store_id.map(store_ids.set_index('hpg_store_id').air_store_id),
                      data.air_store_id.map(store_ids.set_index('air_store_id').hpg_store_id),
                    ], axis=1, keys=['air_store_id', 'hpg_store_id']), inplace=True)

In [40]:
data['air_store_id'].fillna(value='', inplace=True)
data['hpg_store_id'].fillna(value='', inplace=True)

In [41]:
data.drop(columns='visit_dateime',axis=1,inplace=True)
data.isnull().sum()

air_store_id              0
visit_date                0
visitors                  0
visit_datetime       251130
reserve_datetime     251130
genre_name                0
area_name                 0
latitude            1129012
longitude           1129012
hpg_store_id              0
day_of_week               0
holiday_flg               0
dtype: int64

In [42]:
data['latitude'].fillna(value=0,inplace=True)
data['longitude'].fillna(value=0,inplace=True)

In [43]:
data['visit_datetime'].fillna(value=999,inplace=True)
data['reserve_datetime'].fillna(value=999,inplace=True)